Package:			rclone
Version:			1.69.0
Packager:			Jesse
Email:
Homepage:			https://rclone.org/
Description:		Rclone is a command line program to manage files on cloud storage.
Icon:				logo.png
AddonShowName:		Rclone
AddonIndexPage:		index.php
AddonUsedPort:
AddonDefaultPort:
AddonDefaultGroup:
AddonDefaultUser:
InstDepend:
InstConflict:
StartDepend:
StartConflict:
CenterType:			0
UserControl:		0
MinFWVer:			5.27.157
MaxFWVer:
IndividualFlag:		1
Hidden:				off