Package:			tailscale
Version:			1.92.5
Packager:			jessedp
Email:              jessedp@gmail.com
Homepage:			https://tailscale.com
Description:		The easiest, most secure way to use WireGuard and 2FA.
Icon:		 	    tailscale.png
AddonShowName:		Tailscale
AddonIndexPage:		index.php
AddonUsedPort:
AddonDefaultPort:
AddonDefaultGroup:
AddonDefaultUser:
InstDepend:
InstConflict:
StartDepend:
StartConflict:
CenterType:			1
UserControl:		0
MinFWVer:			5.27.157
MaxFWVer:
IndividualFlag:		1
Hidden:				off
