Package:			syncthing	
Version:			2.0.13
Packager:			PDN
Email:
Homepage:
Description:		A blank template app from which to begin development of new apps.
Icon:		 	syncthing.png
AddonShowName:		Syncthing
AddonIndexPage:		index.php	
AddonUsedPort:
AddonDefaultPort:
AddonDefaultGroup:
AddonDefaultUser:
InstDepend:
InstConflict:
StartDepend:
StartConflict:
CenterType:			0
UserControl:		0
MinFWVer:			5.27.157
MaxFWVer:
IndividualFlag:		1
Hidden:				off
